<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       https://www.springframework.org/schema/context/spring-context.xsd">
<!-- 注：如果要是用include的方式设置扫描内容，需要设置use-default-filters为false，且包含和排除两个方式不能同时存在！！！ -->
    <context:component-scan base-package="com.atzsh" use-default-filters="true">
<!--  排除/包含 扫描一般用的type为 annotation和 assignable 分别为按照注解类型不扫描和按照指定类下的所有注解不扫描     -->
<!--    <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>-->
<!--    <context:exclude-filter type="assignable" expression="com.atzsh.spring.controller.UserController"/>-->

    </context:component-scan>
</beans>